.symmetric-block {
    margin: 0 20px;
}

.aligned-to-left {
    text-align: left;
    float: left;
}

[dir="rtl"] .paragraph p {
    color: lime;
}

.block .block__element b {
    color: blue;
    margin: 16px 2px 0 0;
}
