.faded {
    text-align: center;
    text-align: left;
    animation: 1s fade 0s ease-in-out;
}

.animated-1 {
    animation: 1s slide1 0s ease-in-out, 1s slide2 0s ease-in-out;
    animation-delay: 0s
}

@keyframes fade {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes slide-right {
    from {
        transform: translate(-100px)
    }
    to {
        transform: translate(100px)
    }
}

@keyframes slide-left {
    from {
        transform: translate(-200px)
    }
    to {
        transform: translate(200px)
    }
}
