* {
    outline: 1px solid hsla( 0, 50%, 50%, .2 );
    padding: 20px;
}

.a {
    margin: 0 20px;
}

.a,
.b {
    text-align: left;
    float: left;
}

.a p {
    margin: 0 0 0 10px;
}

.a p {
    color: lime;
    margin: 0 10px 0 0;
}

.a .b .c {
    color: blue;
    margin: 16px 2px 0 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate( -200px )
    }
    to {
        opacity: 1;
        transform: translate( 200px )
    }
}

@media screen {
    .a {
        text-align: left;
    }
}
