* {
    outline: 1px solid hsla( 0, 50%, 50%, .2 );
    padding: 20px;
}

a {
    text-decoration: none;
    border-left: 1px solid;
}

.centered {
    margin: 0 20px;
}

.left,
.left-too {
    text-align: left;
    float: left;
}

.margin .at .right {
    margin: 0 0 0 10px;
}

.margin .at .right {
    color: lime;
    margin: 0 10px 0 0;
}

.mixed {
    color: blue;
    margin: 16px 2px 0 0;
}
