/*rtl:begin:ignore*/
.skip-this-block {
    float: right;
    padding-left: 20px;
    margin-left: 20px;
}
/*rtl:end:ignore*/

/*rtl:ignore*/
.skip-this-rule {
    direction: ltr;
    text-align: left;
    float: left;
}

.value-ignore {
    direction: ltr/*rtl:ignore*/;
    float: right /*rtl:ignore*/;
    margin-left: 20px;
    padding-left: 20px /*  rtl : ignore  */;
}
